

  @import "tailwindcss";



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617; 
  color: white;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}


* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}
